html{
    font-family: Inter, sans-serif;
}

/* NAVBAR */
.logo{
    width: 42px;
    height: 42px;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.285);
}

nav .cursos{
    display: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-transform: bold;
}

.dropdown-menu .logout{
    display: none;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.285) !important;
}

.dropdown span{
    font-size: 2.5rem;
}

.links{
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s ease;
}
.links:hover{
    border-bottom: 1px solid white;
}

/* NAVBAR */

.hero-image{
    background: url('/img/2.jpeg') no-repeat top center;
    background-size: cover;
    height: 500px;
    position: relative;
}


/* CARDS CURSOS */
.col-md-4{
    padding: 0 !important;
    margin: 0 10px;
}

.card{
    border-radius: 15px;
}

.card-img-top{
    width: 100%;
    height: 300px;
}

/* FOOTER */
hr{
    width: 100px;
    background-color: #0d6efd;
    height: 2px
}

footer{
    background-color: #202124
}

.copyright{
    background-color: rgba(0, 0, 0, 0.2)
}

